{% extends 'base.html '%} 
{% block content %}
<div class="row">
  <form action={% url "insertar" %} method="post">
    {% csrf_token %}
    <div class="row">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{% datos_curso.curso[nombre] %}">
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Hola">
          </div>
          <div class="mb-3">
            <label for="aula" class="form-label">Aula</label>
            <input type="number" class="form-control" id="aula" name="aula" placeholder="8101">
          </div>
    </div>
    <button class="btn btn-secondary" type="submit">Enviar</button>
</form>
</div>
{% endblock %}