{% extends 'base.html '%} 
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
      </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
      <tr>
        <th scope="row">{{ curso.id }}</th>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.apellido }}</td>
        <td>{{ curso.edad }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

