{% extends 'base.html '%} 
{% block content %}
<div>
  <a href="{% url 'crear' %}" type="button" class="btn btn-success">Crear</a>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Aula</th>
        <th scope="col">Fecha Creación</th>
        <th scope="col">Estado</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>    
        {% for curso in cursos %}
      <tr>
        <td scope="row">{{ curso.id }}</td>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.descripcion }}</td>
        <td>{{ curso.aula }}</td>
        <td>{{ curso.fecha_creacion }}</td>
        <td>{{ curso.estado }}</td>
        <td><a href="{% url 'editar' curso.id %}" type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a></td>
        <td><a href="{% url 'eliminar' curso.id %}" type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

